form {
  width: 180px;
  display: inline-block;
  height: 36px;
  //position: absolute;
  //background: rgba(255, 255, 255, 0.8);
  overflow: hidden;

  label, input {
    color: #525252;
  }

  &.editing {
    background: rgba(255, 255, 255, 1);

    label, input {
      color: #585858;
    }

    label {
      display: none;
    }
    input {
      opacity: 1;
    }
  }
}

label {
  display: block;
  padding: 10px;
}

input {
  outline: none;
  opacity: 0;
  border: none;
  background-color: transparent;
  padding: 10px;
}