<div class="list" *ngIf="!list.isArchived">
  <div class="top">
    <form (ngSubmit)="onSubmit()" [class.editing]="editing">
      <label for="{{list.localId}}">{{list.name}}</label>
      <input
        title="name" type="text" class="form-control" id="{{list.localId}}" required [(ngModel)]="model.name" name="{{list.localId}}"
        autocomplete="off"
        (focus)="focus()" (blur)="blur()"
      >
    </form>
    <button class="archive" (click)="archive()"></button>
  </div>
  <div class="bottom">
    <a href="#" class="add-ticket" (click)="addTicket()">Add a ticket</a>
  </div>
</div>