<div class="list" *ngIf="!list.isArchived">
  <div class="top">
    <app-editable-field [localId]="list.localId" [field]="'name'" [initial]="list.name" (change)="onEditListName($event)"></app-editable-field>
    <button class="archive" (click)="archive()"></button>
  </div>
  <div class="bottom">
    <app-new-field [localId]="list.localId" [field]="'add-ticket'" [initial]="'Add a ticket'" (change)="addTicket($event)"></app-new-field>
    <!--<a href="#" class="add-ticket" (click)="addTicket()">Add a ticket</a>-->
  </div>
</div>