<div class="list">
  <div class="top">
    <app-field-with-placeholder
      [placeholder]="list.name"
      [initial]="list.name"
      (notify)="onEditListName($event)"
    ></app-field-with-placeholder>
    <button class="archive" (click)="archive()"></button>
  </div>
  <div class="bottom">
    <app-field-with-placeholder
      [placeholder]="'Add a ticket'"
      [initial]="''"
      (notify)="addTicket($event)"
      [clearAfterNotify]="true"
    ></app-field-with-placeholder>
  </div>
</div>
