.list {
  margin: 0 5px;
  width: 200px;
  display: inline-block;
  height: 36px;
  position: relative;
}

div.top {
  height: 36px;

  button.archive {
    position: absolute;
    right: 0;
    top: 10px;
    width: 15px;
    height: 15px;
    background: #e42800;
    border: 0;
  }
}

div.bottom {
  height: 36px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}