:host:before {
  content: " ";
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background: url('../../assets/warehouse.jpg') no-repeat;
  background-size: cover;
  z-index: -1;
  filter: saturate(60%) contrast(80%);
}

h1 {
  font-size: 32px;
  color: #eaeaea;
  padding-top: 20px;
  padding-left: 20px;
}

.lists {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  position: absolute;
  min-height: calc(100% - 30px - 52px);
  --list-width: 200px;
  display: flex;
  align-items: flex-start;

  * {
    margin-left: 10px;
    padding: 10px;
    width: var(--list-width);
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
  }
}
