form {
  margin: 0 5px;
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  float: left;
  color: #bdbdbd;
  background: rgba(0, 0, 0, 0.4);
  height: 16px;
}

label {
  display: block;
  &.editing {
    display: none;
  }
}

input {
  outline: none;
  font-size: 16px;
  color: #bdbdbd;
  opacity: 0;
  border: none;
  background-color: transparent;
  height: 100%;
  padding: 0;
}

input.editing {
  opacity: 1;
}
